body {
    background: linear-gradient(135deg, #0b0f29, #4156aa);
    color: white;
    padding: 20px;
    min-height: 100vh;

}

.title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ffd369;
    text-shadow: 0 0 15px rgba(255, 211, 105, 0.6);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 90%;
    margin: auto;
}

.card {
    background: rgba(194, 128, 128, 0.08);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(255, 211, 105, 0.4);
    border-color: #ffd369;
}

.profile-img {
    width: 300px;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 2px solid rgba(255, 211, 105, 0.4);
    
}

.card h2 {
    font-size: 22px;
    margin-bottom: 50px;
    color: #d1b720;
    text-align: center;
}

.card p {
    font-size: 15px;
    line-height: 1.6;
    color: #f1f1f1;
    text-align: center;
}

footer {
    width: fit-content;      
    margin: 30px auto;         
    padding: 20px 30px;       
    text-align: center;        
    font-size: 12px;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: #ffd369;
    box-sizing: border-box;
}